<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Media.DiiLo Web Server</display-name>

	<!-- fichier de configuration de spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext-core.xml,
			classpath:applicationContext-core-datasource.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>maxPostSize</param-name>
		<param-value>15728640</param-value>
	</context-param>


	<!-- Filter Encoding -->
	<filter>
		<filter-name>encoding-filter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<!-- Hibernate -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>flushMode</param-name>
			<param-value>ALWAYS</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>encoding-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- Spring -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
        </listener-class>
	</listener>


	<!-- Spring Web -->
	<servlet>
		<servlet-name>web-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:web-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>web-servlet</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>

	<!-- Session configuration -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>


	<!-- Taglib JSTL -->
	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglibs/fmt</taglib-uri>
		<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglibs/core</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglibs/sql</taglib-uri>
		<taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglibs/x</taglib-uri>
		<taglib-location>/WEB-INF/tld/x.tld</taglib-location>
	</taglib>


</web-app>
